/* Base Editor Background and Foreground */
.language-bfpp.hljs {
    background: #1f1f1f; /* theme default code colors */
    color: #cccccc;
    font-family: Consolas, "Courier New", monospace;
    padding: 1em;
    display: block;
    overflow-x: auto;
}

.hljs-comment-bfpp { /* comment.line.bfpp */
    color: #6A9955;
}

.hljs-string-bfpp { /* string.quoted.double.bfpp */
    color: #CE9178;
}

.hljs-escape-bfpp { /* constant.character.escape.bfpp */
    color: #d7ba7d;
}

.hljs-number-bfpp { /* constant.numeric.bfpp */
    color: #b5cea8;
}

.hljs-name-bfpp { /* entity.name.function.macro.bfpp */
    color: #DCDCAA;
}

.hljs-debug-bfpp { /* keyword.control.debug.bfpp */
    color: #C586C0;
}

.hljs-bracket-bfpp { /* no equivalent */
    color: #C586C0;
}
.hljs-macro-bracket-bfpp { /* no equivalent */
    color: #179FFF;
}

.hljs-extern-bfpp { /* entity.name.type.extern.bfpp */
    color: #4EC9B0;
}
.hljs-threaded-bfpp { /* entity.name.type.threaded.bfpp */
    color: #4EC9B0;
}

.hljs-func-bfpp { /* storage.type.macro.bfpp */
    color: #569cd6;
}

.hljs-param-bfpp { /* variable.parameter.macro.bfpp */
    color: #9CDCFE;
}

.hljs-operator-bfpp { /* keyword.operator.brainfuck.bfpp */
    color: #d4d4d4;
}